.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    margin: 40px auto 40px;
    padding: 20px 20px;
    border: 3px solid #1F5570;
    border-radius: 12px;
}

.gallery a {
    flex-basis: 100%;
    padding: 20px 20px;
}

.inner {
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 12px;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.4);
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    z-index: 1;
    transition: 0.5s;
}

.on {
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 30px;
    color: #fff;
    text-align: center;
    opacity: 0;
    z-index: 2;
    transition: 0.5s 0.2s;
}

.on h1 {
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: 400;
}

.expand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 1.2rem;
    border-radius: 12px;
    z-index: 2;
    transition: 0.5s;
}

.inner img {
    width: 100%;
    max-width: 640px;
    height: auto;
    vertical-align: middle;
    background-position: center center;
    background-size: cover;
    transition: 0.5s;
}

/* hover effects */
.inner:hover .shadow {
    opacity: 1;
}

.inner:hover .expand {
    opacity: 1;
}

.inner:hover .expand:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.inner:hover img {
    transform: scale(1.1)
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {
    .inner:hover .on {
        opacity: 1;
        bottom: 50px;
    }
}

@media (min-width: 700px) {
    .gallery a {
        padding: 30px 30px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .gallery a {
        flex-basis: 50%;
        padding: 20px 20px;
    }
}